NODE_ENV=development
PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
DATABASE_URL=https://isfyxzgvysmjjcgxniei.supabase.co
DATABASE_SSL=true
SUPABASE_URL=https://isfyxzgvysmjjcgxniei.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_oaBMY-kucI9WA-sN9ACVeQ_Mug85A6e